* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* NAVIGATION BAR */
.dot {
  height: 42px;
  width: 42px;
  position: absolute;
  top: 30px;
  left: 50px;
  background-color:#0FC6CA;
  border-radius: 21px;
  display: inline-block;
}

.edctxt {
    position: absolute;
    width: 200px;
    height: 28px;
    top: 30px;
    left: 100px;
    font-family: Lato, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    color: #4D4D4D;
    ;

}

nav {
    display: flex;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 101px;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    font-family: Lato;
}

.nav-links {
    display: flex;
    position: relative;
    left: 5.9%;
    justify-content: space-around;
    width: 40%;
}
.icons {
    cursor: pointer;
    display: none;

}
.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #4D4D4D;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    text-shadow: #4D4D4D;
}

/* DARK /LIGHT THEME TOGGLE*/

.switch {
    position:absolute;
    display:inline-block;
    width:70px;
    height:34px;
    right: 5px;
    margin-right: 15px;
    
}
.switch input{
   opacity:0;
   width:0;
height:0;
}
.slider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: #E5E3E3;
 -webkit-transition: .4s;
 transition: .4s;
}
.slider:before {
 position: absolute;
 content:"";
 height: 26px;
 width: 26px;
 left: 4px;
 bottom: 4px;
 background-color: #053B6E;
 -webkit-transition: .4s;
 transition: .4s;
}
input:checked + .slider {
 background-color: #2196F3;
 
}

input:focus + .slider {
 box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
 -webkit-transform: translateX(36px);
 -ms-transform: translateX(36px);
 transform: translateX(36px);
}
.slider.round {
 border-radius: 34px;
}

.slider.round:before {
 border-radius: 50%;
}

/* HAMBURGER */
.line {
    position: relative;
    width: 18px;
    height: 18px;
    top: 4px;
    left: 3px;

}

.burger {
    display: none;
    cursor: pointer;
}





/* TABLET RESPONSIVE APPLICATION */

@media screen and (max-width: 1024px) {
    .nav-links {
        display: flex;
        position: relative;
        justify-content: space-around;
        width: 50%;
    }
    .switch {
        position:absolute;
        display:inline-block;
        width:70px;
        height:34px;
        right: 1px;
        margin-right: 1px;
        
    }
    .switch input{
       opacity:0;
       width:0;
    height:0;
    }
    .slider {
     position: absolute;
     cursor: pointer;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #E5E3E3;
     -webkit-transition: .4s;
     transition: .4s;
    }
    .slider:before {
     position: absolute;
     content:"";
     height: 26px;
     width: 26px;
     left: 4px;
     bottom: 4px;
     background-color: #053B6E;
     -webkit-transition: .4s;
     transition: .4s;
    }
    input:checked + .slider {
     background-color: #2196F3;
     
    }
    
    input:focus + .slider {
     box-shadow: 0 0 1px #2196F3;
    }
    
    input:checked + .slider:before {
     -webkit-transform: translateX(36px);
     -ms-transform: translateX(36px);
     transform: translateX(36px);
    }
    .slider.round {
     border-radius: 34px;
    }
    
    .slider.round:before {
     border-radius: 50%;
    }
    
}

/* MOBILE RESPONSIVE APPLICATION */


@media screen and (max-width: 768px) {

    .dot {
        height: 42px;
        width: 42px;
        position: absolute;
        top: 16px;
        left: 14px;
        background-color:#0FC6CA;
        border-radius: 21px;
        display: inline-block;
      }
      
      .edctxt {
          position: absolute;
          width: 200px;
          height: 28px;
          top: 18px;
          left: 69px;
          font-family: Lato, Helvetica, sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          line-height: 18px;
          color: #4D4D4D;
          ;
      
      }
      nav {
          width: 100%;
          height: 74px;

      }

    .slider {
        display: none;
    }
    
    .burger {
        display: block;
        cursor: pointer;
        position: absolute;
        align-items: center;
        margin-left: 80%;
    }


}